.inner_container {
  min-height: calc(100vh - 80px);
  width: 100vw;
  max-height: max-content;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post {
min-height: 475px;
  max-height:max-content;
  width: 500px;
  background-color: #818586;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}

.post .header {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
}

.post .header > * {
  line-height: 50px;
  font-size: 22px;
}

.post .profile {
  height: 55px;
  width: 55px;
  border-radius: 100%;
  border: 1px solid #000;
}

.content {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content_header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 1rem 2rem; 
  gap:1rem;
}

.content .namespace {
  display: flex;
  align-items: center;
  gap: 5px;
}

.content .namespace .displayName{
  font-size: 20px;
  font-weight: 600;
  line-height: 50px;
}
.content .namespace .displayName::before{
  content: "@";
}


.content_box{
    width: 100%;

}

.content_box textarea{
    display: block;
    width: 90%;
    margin: auto;
    min-height: 70px;
    height: 70px;
    resize: none;
    padding:5px 0px 5px 0 5px;
}

 .inner_box{
    width: 90%;
    flex: 1;
    margin: auto;
    margin-bottom:1rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

 .inner_box input{
  position: absolute;
  opacity: 0;
}


.inner_box .img_container{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: antiquewhite;
}

.inner_container button{
 height: 40px;
 font-size: 20px;
 font-weight: 500; 
 border-radius: 6px;
 margin-top: 1rem;
 border: 1px solid black ;
 background-color: #0082e6;
}

.inner_container .hover_div{
  position: absolute;
  z-index: 1;
  color: rgb(0, 0, 0);
  border: 1px solid #fff;
  text-align: center;
  box-shadow: 1px 5px 5px;
  display: flex;
}

.inner_container .hover_div label{
  width: 100%;
  cursor: pointer;
  padding: 5px;
}

.inner_container .img_div{
  display: flex; 
   align-items: center;
   overflow: auto;
}

.slideLeft, .slideRight{
  position: absolute;
top: 10px;
 z-index: 1;
 color: white;
 cursor: pointer;
}

.slideLeft {
  left: 10px;
  top: 50%;
  
}

.slideRight {
right: 10px;
top: 50%;
}

.delete {
  position: absolute;
  top: 10px;
  left: 30px;
  z-index: 1;
  background-color: white;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}

.inner_container .img_div img{
  width: 100%;
  height: 100%;
  flex: 1;
}



@media (max-width: 648px){

  .post {
width: 90%;
  }


}

