.reel_wrapper {
  height: calc(100vh - 80px);
  width: 100%;
  background-color: red;
  display: flex;
  overflow-y: none;
}

.side_content {
  flex: 2;
  background-color: gray;
}

.reel_container {
  height: 100%;
  flex: 1;
  position: relative;
}

.reel_container .video_container {
  height: 100%;
  background-color: blue;
  position: relative;
}

.reel_container video {
  height: 100%;
}

.reel_container .video_details {
  position: absolute;
  bottom: 10%;
  left: 10%;
}

.reel_container .video_details .video_details_bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.reel_container .video_details .video_details_bottom .video_details_topbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.reel_container .video_details .video_details_bottom .video_details_topbar img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}


.reel_container  .video_interactions{
  position: absolute;
  bottom: 20%;
  right: 2%;
}

.reel_container  .video_interactions .icons{
  font-size: 35px;
  display: block;
  margin: 2rem 0;
}