.reel_wrapper {
  height: calc(100vh - 80px);
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: none;
}

.side_content {
  width: 30%;
  background-color: gray;
}

.reel_container {
  height: 98%;
  margin-top: 1rem;
  width: 500px;
  position: relative;
}

.reel_container .video_container {
 height: inherit; 
}

.reel_container video {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.reel_container .video_details {
  position: absolute;
  bottom: 10%;
  left: 10%;
}

.reel_container .video_details .video_details_bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.reel_container .video_details .video_details_bottom .video_details_topbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.reel_container .video_details .video_details_bottom .video_details_topbar img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.reel_container .video_interactions {
  position: absolute;
  right: 2%;
  bottom: 0%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent overlay */
  backdrop-filter: blur(10px);
}

.reel_container .video_interactions .icons {
  font-size: 35px;
  display: block;
  margin: 2rem 0;
}
