.search {
  min-height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
}

.search_container {
  width: 70vw;
}

.search header {
  margin: 1rem 0;
  display: flex;
  gap: 2px;
}

.search header input {
  flex: 1;
  height: 35px;
  font-size: 18px;
  border-radius: 4px;
  padding-left: 5px;
  border: 1px solid rgb(122, 120, 120);
}

.search header button {
  padding: 0 10px;
}

.search .main {
}

.search .main a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.search .main .card {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem 5px;
}

.search .main .card img {
  height: 55px;
  border-radius: 50%;
  border: 1px solid rgb(127, 124, 124);
}


.search .main .card p{
    font-weight: 600;
}

@media (max-width: 768px) {
  .search_container {
    width: 95%;
  }
}
